/*************************************
//
//   Font
//   -> Font used
//
// *************************************/


/*********************Fonts starts here*****************************/
@font-face {
	font-family: 'calibribolditalic';
	src: url('../styles/fonts/Calibri Bold Italic.ttf') format('truetype');
	src:url('../styles/fonts/Calibri Bold Italic.eot');
	src:url('../styles/fonts/Calibri Bold Italic.eot') format('embedded-opentype'),
		url('../styles/fonts/Calibri Bold Italic.woff') format('woff'),
		url('../styles/fonts/Calibri Bold Italic.ttf') format('truetype'),
		url('../styles/fonts/Calibri Bold Italic.svg') format('svg'),
		url('../styles/fonts/Calibri Bold Italic.otf') format('otf');
    
}
@font-face {
	font-family: 'calibribold';
	src:url('../styles/fonts/Calibri Bold.eot');
	src:url('../styles/fonts/Calibri Bold.eot') format('embedded-opentype'),
		url('../styles/fonts/Calibri Bold.woff') format('woff'),
		url('../styles/fonts/Calibri Bold.ttf') format('truetype'),
		url('../styles/fonts/Calibri Bold.svg') format('svg'),
		url('../styles/fonts/Calibri Bold.otf') format('otf');
}
@font-face {
	font-family: 'calibriitalic';
	src:url('../styles/fonts/Calibri Italic.eot');
	src:url('../styles/fonts/Calibri Italic.eot') format('embedded-opentype'),
		url('../styles/fonts/Calibri Italic.woff') format('woff'),
		url('../styles/fonts/Calibri Italic.ttf') format('truetype'),
		url('../styles/fonts/Calibri Italic.svg') format('svg'),
		url('../styles/fonts/Calibri Italic.otf') format('otf');
}
@font-face {
	font-family: 'calibri';
	src:url('../styles/fonts/Calibri.eot');
	src:url('../styles/fonts/Calibri.eot') format('embedded-opentype'),
		url('../styles/fonts/Calibri.woff') format('woff'),
		url('../styles/fonts/Calibri.ttf') format('truetype'),
		url('../styles/fonts/Calibri.svg') format('svg'),
		url('../styles/fonts/Calibri.otf') format('otf');
}
/*********************Fonts starts here*****************************/

